/* style.css */
body {
    background-color: white; /* Light background for contrast */
}

.navbar .dropdown-menu .dropdown-item:hover {
    background-color: burlywood;
    color: white;
}

.custom-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add some shadow for depth */
}

.custom-card img {
    width: 100%;
    height: 300px; /* Set a fixed height for the images */
    object-fit: cover; /* Ensure the image covers the entire area */
    border-radius: 10px 10px 0 0; /* Round the top corners */
}

.custom-card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.custom-card-content .badge {
    position: absolute;
    top: 10px;
    left: 10px;
}

.custom-card-content .card-title {
    margin-top: 50px;
}
.custom card{
    width: 100%;
    height: 200%;
    
}
img{
    width: 80%;
    height:600px;
     } 
     .carousel-item{
        background-image: url('https://images.unsplash.com/photo-1541753866388-0b3c701627d3');
     } 
     @media (max-width: 576px) {
        .custom-card-content {
            padding: 10px;
        }
    }
    
    @media (min-width: 768px) {
        .custom-card-content {
            padding: 20px;
        }
    }
    
/* .custom-background {
        background-color: burlywood;
    } */

